<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dream.anstory"
    android:versionCode="10"
    android:versionName="2.0.2" >
    
    <uses-sdk android:minSdkVersion="8" />
     
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
   
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar"
        >
         <!-- 入口欢迎页选择进入向导页还是主页 -->
        <activity
            android:name="com.dream.anstory.ui.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- 向导页 -->
         <activity
            android:name="com.dream.anstory.ui.activity.GuideActivity"
              android:screenOrientation="portrait"  >
        </activity>
       
        <!-- 主页 -->
        <activity
            android:name="com.dream.anstory.ui.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!--分享页-->
        <activity
            android:name="com.dream.anstory.ui.activity.PicShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.dream.anstory.ui.activity.PicEditActivity"
              android:screenOrientation="portrait"  
              android:launchMode="singleTop"
              android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
           
        <activity
            android:name="com.dream.anstory.ui.activity.StoryEditActivity"
              android:screenOrientation="portrait"  
              android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.dream.anstory.ui.activity.SinaWeiboShareActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
        <!-- 友盟自动更新service和activity -->
        <service
	    	android:name="com.umeng.common.net.DownloadingService"
	  	    android:process=":DownloadingService" >
		</service>
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
        
   
        
        <activity
            android:name="com.dream.anstory.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
		</activity>
		
        <activity
            android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5201fc6256240ba852000bfb" >
        </meta-data>
        
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ShowGif" >
        </meta-data>
    </application>
</manifest>